.prodComp {
    display: grid;
    grid-template-rows: (repeat 50% 50% 50%);
    grid-template-columns: (repeat 50% 50% 50%);
    cursor: pointer;
    grid-column-gap: 1%;
    margin: 1%;
    grid-row-gap: 1%;
    padding: 1px;
    grid-gap: 40px 20px;
    grid-auto-flow: column;
    grid-auto-flow: row;
}

.card {
    box-shadow: 0 0 10px 0 #dbdbdb;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    object-fit: contain;
    overflow: hidden;
    margin-left: 4rem;
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardItem {
    box-shadow: 0 0 10px 0 #dbdbdb;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    margin-top: 2rem;
    height: 33%;
    width: 33%;
    min-width: 33%;
    min-height: 33%;

}

.productImage {
    align-self: center;
    height: 93%;
    margin: auto;
    overflow: hidden;
    padding: 2%;
    width: 93%;
    min-width: 93%;
    min-height: 93%;

}


.proprice {
    margin-top: 0rem;
    font-size: 1.2rem;
    font-weight: 550;
    display: flex;
    margin-left: 5%;
    font-family: Manrope, sans-serif;

}

.button {

    background-color: white;
    border-radius: 0.3rem;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 2rem;
    margin-bottom: 3%;
    margin-left: 23rem;
    cursor: pointer;
}

.button_cart {

    background-color: skyblue;
    border-radius: 0.3rem;
    font-family: sans-serif;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    float: left;
    display: inline-block;
    font-size: 1rem;
    margin-left: 3%;
    margin-top: -4.5rem;
    margin-bottom: 3%;
    cursor: pointer;
}

.protitle {
    margin-top: -1rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 5%;
    font-family: Manrope, sans-serif;

}